<div style="border: 1px solid black">Party event</div>

<details style="display: block;">
  <summary>Location</summary>
  <div app-party-event-location></div>
  <div class="row">
    <div class="col-md-2">&nbsp;&nbsp;</div>
    <div class="col-md-8>">  <app-party-event-location></app-party-event-location></div>
  </div>
</details>

<details style="display: block;">
  <summary>Date</summary>
  <form>
    <input type="date" name="Date">
  </form>
</details>

<details style="display: block;">
  <summary>Time</summary>
  <form>
    <input type="time" name="Time">
  </form>
</details>

<details style="display: block;">
  <summary>Number of people</summary>
  <form>
    <input type="number" name="Number">
  </form>
</details>

<details style="display: block;">
  <summary>Food</summary>
  <form>
    <input type="text" name="Food">
  </form>
</details>

<details style="display: block;">
  <summary>Drinks</summary>
  <form>
    <input type="text" name="Drinks">
  </form>
</details>

<details style="display: block;">
  <summary>Music</summary>
  <form>
    <input type="text" name="Music">
  </form>
</details>

<details style="display: block;">
  <summary>Games</summary>
  <form>
    <input type="text" name="Games">
  </form>
</details>

<input type="submit" value="Submit">

