<div style="border: 1px solid black">Party event - title</div>

<app-party-event-location></app-party-event-location>

<details style="display: block;">
  <summary>Date</summary>
  <form>
    <input type="date" name="Date">
  </form>
</details>

<details style="display: block;">
  <summary>Time</summary>
  <form>
    <input type="time" name="Time">
  </form>
</details>

<details style="display: block;">
  <summary>Number of people</summary>
  <form>
    <input type="number" name="Number">
  </form>
</details>

<app-party-event-food></app-party-event-food>
<app-party-event-music></app-party-event-music>
<app-party-event-drinks></app-party-event-drinks>
<app-party-event-games></app-party-event-games>

<input type="submit" value="Submit">

